doctype html
html(lang="en-US")
  head
    meta(charset="UTF-8")

    title Headers

    != css("main.css")
    != js("main.js")
  body
    .error-messages: p.messages

    .initiate-request
      .container: button(type="button"): span Request
      .flag Will Invalidate Browser <span class="skip-cache">&amp; Proxy</span> Cache<span class="skip-cache">s</span>

    .pipeline
      .container: .client: span Browser Cache
      .container: .cache: span Proxy Cache
      .container: button(type="button").server: span Server

    .header-visualizer
      // see client-side templates

    .header-form: .modal: .elements
      textarea(name="headers", placeholder="Response headers")
      button(type="button") Update Response Headers



