.header-visualizer
  clearfix()
  position: relative

  &:before
    background-color: #72c152
    content: ""
    cursor: default
    display: block
    height: 0
    left: 16.665%
    margin-left: -2px
    position: absolute
    top: -70px
    width: 4px
    z-index: 1

    [data-responded="client"] &
      height: 60px
      transition: height 0.2s linear 0.3s

    [data-responded="cache"] &
      height: 60px
      transition: height 0.2s linear 1s

    [data-responded="server"] &
      height: 60px
      transition: height 0.2s linear 1.6s

  .response
    padding-left: 16.665%

    h1, table
      margin-left: -80px

    h1
      text-align: center
      white-space: nowrap
      width: 160px

  .response, .request
    float: left
    opacity: 0
    transform: translateY(-10px)
    transition: opacity 0.15s linear, transform 0s linear 0.15s
    width: 50%

    [data-responded="client"] &
      opacity: 1
      transform: translateY(0)
      transition: opacity 0.5s linear 0.7s, transform 0.5s ease-out 0.7s

    [data-responded="cache"] &
      opacity: 1
      transform: translateY(0)
      transition: opacity 0.5s linear 1.2s, transform 0.5s ease-out 1.2s

    [data-responded="server"] &
      opacity: 1
      transform: translateY(0)
      transition: opacity 0.5s linear 1.8s, transform 0.5s ease-out 1.8s

    .Connection, .Content-Length, .Content-Type
      display: none

    .Age, .Via, .X-Cache
      color: #963bba

      th:before
        content: "• "

  .request
    .Accept, .Accept-Encoding, .Accept-Language, .Connection, .Force-Reload,
    .Referer, .User-Agent, .X-Requested-With
      display: none

  th
    text-align: right
    white-space: nowrap

  td
    padding-left: 10px
