.request
  .container
    width: 33%

  button
    flowchart-button()

    transition: border-color 0.5s linear

    .will-force-reload&
      span:before
        content: "Force "

    .is-loading &
      border-color: #72c152
